# Finding duplicate stars
Filename: KS2_dubplicates.ipynb

This notebook is dedicated to identifying duplicate detections in the KS2 database. A duplicate detection is defined as one where different names ("NMAST" values) are used to define the same object, either in the same exposure, or in different exposures.

An object is identified by its flux and position. The position can either be in the individual exposure, or in the master frame.

In [2]:
from astropy.io import fits
import pandas as pd

In [3]:
from pathlib import Path

In [4]:
from importlib import reload
from utils import ks2_utils, shared_utils, image_utils

In [5]:
import re
import numpy as np

# INPUT.KS2

In [6]:
ks2_filtermapper = ks2_utils.get_filter_mapper()

In [7]:
ks2_filemapper = ks2_utils.get_file_mapper()

# LOGR.XYVIQ1

LOGR.XYVIQ1 gives the average position for each source on the master frame (cols 1 and 2), the average flux (cols 5 and 11), the flux sigma (cols 6 and 12), and fit quality (cols 7 and 13) in each filter)

In [74]:
reload(ks2_utils)
master_catalog_df = ks2_utils.get_master_catalog(raw=True)

In [9]:
master_catalog_df.head()

,umast0,vmast0,mmast1,NMAST,zmast1,szmast1,q1,o1,f1,g1,zmast2,szmast2,q2,o2,f2,g2
0,736.37,91.51,-2.3045,R0000001,8.352,2.586,0.900,0.01,9,9,14.088,1.538,0.963,0.01,9,9
1,737.04,34.36,-3.2771,R0000002,20.458,2.260,0.899,0.00,9,9,9.987,2.508,0.909,0.00,16,16
2,740.65,61.26,-5.9669,R0000003,243.655,3.332,0.999,0.01,9,9,177.850,2.386,0.999,0.02,9,9
3,745.91,93.19,-2.9646,R0000004,15.340,1.092,0.968,0.01,9,9,19.786,2.601,0.982,0.01,9,9
4,749.93,124.75,-4.4803,R0000005,61.959,3.305,0.997,0.00,9,9,84.200,2.850,0.998,0.00,18,18

# LOGR.FIND_NIMFO

In [11]:
reload(ks2_utils)
point_sources_df = ks2_utils.get_point_source_catalog(raw=True)

/Users/jaguilar/miniconda3/envs/astro37/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (20,28,34) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [12]:
point_sources_df.head(5)

,umast,vmast,magu,utile,vtile,z0,sz0,f0,g0,u1,...,o3,f3,g3,NMAST,ps_tile_id,tile_id,master_exp_id,filt_id,unk,chip_id
0,736.424,91.482,-2.0238,0.0,0.0,6.5,0.8,0,1,31.849,...,0.0,1,1,R0000001,L005,N001,G004,F1,C,1
1,736.459,91.452,-1.4531,0.0,0.0,3.7,0.8,0,1,31.918,...,0.0,1,1,R0000001,L005,N002,G006,F1,C,1
2,736.323,91.491,-2.5450,0.0,0.0,10.4,0.8,0,1,31.646,...,0.0,1,1,R0000001,L005,N003,G007,F1,C,1
3,736.306,91.445,-2.2584,0.0,0.0,8.3,0.8,0,1,31.611,...,0.0,1,1,R0000001,L005,N004,G009,F1,C,1
4,736.398,91.671,-2.5036,0.0,0.0,9.6,0.8,0,1,31.797,...,0.0,1,1,R0000001,L005,N005,G010,F1,C,1

# Generate distance matrix

In [13]:
exp_gb = point_sources_df.groupby("master_exp_id")
exp_df = exp_gb.get_group(list(exp_gb.groups)[0])

In [14]:
reload(ks2_utils)
dist_mat = ks2_utils.generate_exposure_distance_matrix(exp_df, same_nan=True)

In [15]:
# make a list of all the sources that have dist = 0
np.tril(dist_mat, k=0)[:4,:4]

array([[         nan,   0.        ,   0.        ,   0.        ],
       [ 43.62931268,          nan,   0.        ,   0.        ],
       [ 33.27131873,  10.37003013,          nan,   0.        ],
       [156.18065565, 112.56791428, 122.93750628,          nan]])

In [16]:
tril_ind = np.tril_indices_from(dist_mat, k=-1)
dist_mat.values[tril_ind[0], tril_ind[1]]

array([43.62931268, 33.27131873, 10.37003013, ..., 21.44514222,
       16.92549925, 24.70643641])

In [17]:
# neighbors = dist_mat[(dist_mat[row['NMAST']] < 100) & (dist_mat[row['NMAST']] > 0) ][row['NMAST']]
# neighbors.index

In [18]:
samesies = []
for i, row in dist_mat.iterrows():
    tmp = row[row == 0]
    if len(tmp) > 0:
#         print(tmp.name, tmp.keys().values)
        samesies.append(set([tmp.name] + list(tmp.keys().values)))

In [19]:
# make a set out of each key, pair
samesies[0]

{'R0001452', 'R0001454'}

In [20]:
# fig, ax = plt.subplots(1, 1)

# hist_args = {'histtype':'step'}
# tril_ind = np.tril_indices(dist_mat.shape[0])
# hist = ax.hist(dist_mat.values[tril_ind[0], tril_ind[1]], bins=50, **hist_args, label='no cuts');

# tril_ind = np.tril_indices(dist_mat.loc[cut1_df['NMAST']][cut1_df['NMAST']].shape[0])
# ax.hist(dist_mat.loc[cut1_df['NMAST']][cut1_df['NMAST']].values[tril_ind[0], tril_ind[1]],
#         bins=hist[1], **hist_args, label='q,z > 0');

# tril_ind = np.tril_indices(dist_mat.loc[cut2_df['NMAST']][cut2_df['NMAST']].shape[0])
# ax.hist(dist_mat.loc[cut1_df['NMAST']][cut2_df['NMAST']].values[tril_ind[0], tril_ind[1]],
#         bins=hist[1], **hist_args, label='q >= 0.95');

# ax.legend()
# ax.set_xlabel("Pairwise distance [pixels]")
# ax.set_ylabel("N pairs")

In [21]:
# check R0005193 and R0005195
star_ids = ["R0005193", "R0005195"]
for star_id in star_ids:
    print(i, point_sources_df.query("NMAST == @star_id").shape[0])

R0006552 27
R0006552 27

In [22]:
unique_samesies = []
for i in samesies:
    if i in unique_samesies:
        pass
    else:
        unique_samesies.append(i)

In [52]:
unique_samesies;

In [24]:
for star_ids in unique_samesies:
    #print("New set\n")
    for i in star_ids:
        ndet = point_sources_df.query("NMAST == @i")['NMAST'].size
        q_avg = point_sources_df.query("NMAST == @i")[['q1','q2','q3']].mean().mean()
        q_std = point_sources_df.query("NMAST == @i")[['q1','q2','q3']].std().std()
        z_avg = point_sources_df.query("NMAST == @i")[['z1','z2','z3']].mean().mean()
        z_std = point_sources_df.query("NMAST == @i")[['z1','z2','z3']].std().std()
        print(f"{i}\t{ndet}\t{q_avg:0.2f} +/- {q_std:0.2f}\t{z_avg:0.2f} +/- {z_std:0.2f}")
    print("\n")

R0001452	54	1.00 +/- 0.00	849.53 +/- 1.85
R0001454	54	1.00 +/- 0.00	849.53 +/- 1.85


R0001499	18	1.00 +/- 0.00	201.39 +/- 1.43
R0001498	18	1.00 +/- 0.00	201.39 +/- 1.43


R0001715	45	1.00 +/- 0.00	203.55 +/- 1.00
R0001717	45	1.00 +/- 0.00	203.55 +/- 1.00


R0001949	15	1.00 +/- 0.00	405.82 +/- 1.70
R0001948	15	1.00 +/- 0.00	405.82 +/- 1.70


R0001955	27	0.99 +/- 0.00	40.18 +/- 0.29
R0001956	27	0.99 +/- 0.00	40.18 +/- 0.29


R0001968	27	1.00 +/- 0.00	902.27 +/- 4.53
R0001967	27	1.00 +/- 0.00	902.27 +/- 4.53


R0005690	27	0.76 +/- 0.07	5.56 +/- 0.58
R0002556	54	0.59 +/- 0.06	8.79 +/- 0.93
R0003733	54	0.73 +/- 0.06	25.96 +/- 4.17
R0003271	54	0.42 +/- 0.08	1.36 +/- 0.96
R0003754	54	0.58 +/- 0.06	2.36 +/- 0.20
R0002182	54	0.57 +/- 0.05	4.09 +/- 1.02
R0004799	54	0.43 +/- 0.07	1.33 +/- 0.85
R0003742	54	0.47 +/- 0.07	1.79 +/- 0.46
R0004536	54	0.81 +/- 0.12	10.95 +/- 1.48
R0002535	54	0.52 +/- 0.07	2.32 +/- 0.18
R0002533	54	0.70 +/- 0.06	3.88 +/- 0.48
R0004545	27	0.79 +/- 0.04	5.01 +/- 0.31
R0002525	54	0.52 +/- 0.08	17.63 +/- 4.41
R0005588	27	0.46 +/- 0.06	2.20 +/- 0.31
R0002547	54	0.43 +/- 0.04	3.37 +/- 0.75
R0005045	27	0.61 +/- 0.03	2.20 +/- 0.32
R0002275	54	0.53 +/- 0.05	2.55 +/- 0.99
R0002467	54	0.50 +/- 0.05	8.39 +/- 0.42
R0001974	27	0.80 +/- 0.07	5.57 +/- 1.17
R0004990	27	0.75 +/- 0.04	3.76 +/- 0.24
R0006318	27	0.73 +/- 0.06	3.88 +/- 0.42
R0002121	27	0.54 +/- 0.06	3.49 +/- 0.54
R0002270	54	0.50 +/- 0.07	4.70 +/- 0.68
R0002314	54	0.77 +/- 0.11	4.60 +/- 0.72
R0002540	54	0.65 +/- 0.07	6.13 +/- 0.97
R0004801	54	0.47 +/- 0.07	1.91 +/- 0.78
R0003071	54	0.42 +/- 0.07	1.58 +/- 0.33
R0006384	27	0.80 +/- 0.05	4.91 +/- 0.80
R0006459	27	0.65 +/- 0.06	6.90 +/- 0.33
R0002364	54	0.52 +/- 0.07	2.32 +/- 0.35
R0002554	49	0.66 +/- 0.05	7.47 +/- 0.62
R0004712	27	0.74 +/- 0.03	4.44 +/- 0.26
R0002372	54	0.81 +/- 0.05	13.45 +/- 1.87
R0006314	27	0.61 +/- 0.05	6.64 +/- 1.88
R0006457	27	0.47 +/- 0.06	1.80 +/- 3.51
R0003759	54	0.59 +/- 0.05	2.61 +/- 0.26
R0003846	54	0.53 +/- 0.05	1.81 +/- 0.42
R0004708	54	0.53 +/- 0.08	2.40 +/- 0.23
R0005952	27	0.78 +/- 0.06	4.71 +/- 0.27
R0003278	54	0.50 +/- 0.08	1.50 +/- 0.26
R0003609	54	0.39 +/- 0.06	0.75 +/- 0.56
R0005954	27	0.59 +/- 0.04	6.47 +/- 1.38
R0005813	27	0.77 +/- 0.13	12.79 +/- 9.31
R0002418	54	0.63 +/- 0.04	2.19 +/- 0.22
R0003224	54	0.81 +/- 0.05	5.14 +/- 0.71
R0002804	27	0.76 +/- 0.10	29.35 +/- 4.02
R0006460	27	0.67 +/- 0.07	13.17 +/- 0.96
R0003154	54	0.33 +/- 0.11	0.58 +/- 0.37
R0002555	54	0.40 +/- 0.08	1.01 +/- 0.79
R0005896	27	0.73 +/- 0.04	15.70 +/- 1.15
R0004409	27	0.69 +/- 0.04	2.81 +/- 0.33
R0006011	23	0.63 +/- 0.08	3.29 +/- 0.54
R0003743	54	0.56 +/- 0.05	6.34 +/- 2.20
R0005453	27	0.56 +/- 0.06	3.25 +/- 0.41
R0004532	54	0.44 +/- 0.08	1.52 +/- 0.71
R0006455	27	0.70 +/- 0.04	15.44 +/- 1.77
R0005456	27	0.47 +/- 0.08	1.06 +/- 0.71
R0003149	54	0.59 +/- 0.05	2.27 +/- 0.55
R0005099	27	0.85 +/- 0.09	6.78 +/- 0.60
R0002944	27	0.72 +/- 0.07	2.67 +/- 0.27
R0003848	54	0.47 +/- 0.07	2.15 +/- 0.33
R0002319	36	0.72 +/- 0.05	7.95 +/- 0.79
R0004725	54	0.72 +/- 0.06	5.23 +/- 0.53
R0006087	27	0.74 +/- 0.06	4.60 +/- 0.84
R0002244	54	0.72 +/- 0.02	3.92 +/- 0.31
R0002531	54	0.78 +/- 0.08	77.88 +/- 8.02
R0006263	27	0.61 +/- 0.03	5.96 +/- 2.00
R0003663	27	0.76 +/- 0.02	7.37 +/- 0.61
R0003831	54	0.57 +/- 0.05	4.02 +/- 0.50
R0004064	54	0.32 +/- 0.10	0.55 +/- 0.23
R0002756	27	0.74 +/- 0.10	488.28 +/- 60.49
R0002371	54	0.70 +/- 0.10	4.00 +/- 0.63
R0003835	54	0.69 +/- 0.09	4.62 +/- 1.21
R0003515	27	0.65 +/- 0.02	18.74 +/- 0.92
R0006189	27	0.91 +/- 0.07	9.68 +/- 0.49
R0004444	54	0.73 +/- 0.02	3.89 +/- 0.44
R0004525	54	0.67 +/- 0.06	3.10 +/- 0.24
R0005831	27	0.71 +/- 0.04	3.75 +/- 0.46
R0005635	27	0.79 +/- 0.08	5.00 +/- 0.44
R0003273	54	0.47 +/- 0.08	1.91 +/- 0.21
R0003287	54	0.43 +/- 0.08	1.30 +/- 0.21
R0003784	54	0.98 +/- 0.07	25.43 +/- 1.78
R0005213	27	0.75 +/- 0.04	7.11 +/- 0.25
R0002560	54	0.48 +/- 0.09	3.47 +/- 2.74
R0005791	27	0.78 +/- 0.04	4.20 +/- 0.18
R0003146	54	0.27 +/- 0.14	-0.64 +/- 0.85
R0002552	54	0.62 +/- 0.08	7.80 +/- 0.49
R0002993	54	0.58 +/- 0.07	2.55 +/- 0.52
R0005942	27	0.83 +/- 0.03	5.77 +/- 0.58
R0006448	27	0.82 +/- 0.12	5.75 +/- 1.16
R0003745	54	0.54 +/- 0.07	2.81 +/- 0.76
R0005044	27	0.60 +/- 0.06	2.06 +/- 0.48
R0003283	46	0.47 +/- 0.07	1.86 +/- 0.13
R0002470	54	0.64 +/- 0.08	11.42 +/- 1.51
R0006305	27	0.71 +/- 0.09	3.56 +/- 0.32
R0004488	36	0.72 +/- 0.04	4.54 +/- 0.45
R0003812	54	0.74 +/- 0.04	291.29 +/- 49.26
R0004533	54	0.67 +/- 0.07	3.37 +/- 1.86
R0006311	27	0.73 +/- 0.05	3.41 +/- 0.52
R0003163	54	0.48 +/- 0.08	1.78 +/- 0.43
R0002347	43	0.57 +/- 0.06	5.22 +/- 0.20
R0002393	54	0.86 +/- 0.09	6.41 +/- 0.13
R0004792	54	0.60 +/- 0.06	5.34 +/- 0.64
R0006531	27	0.75 +/- 0.10	4.73 +/- 2.23
R0002036	27	0.63 +/- 0.04	2.51 +/- 0.27
R0006125	27	0.78 +/- 0.08	19.19 +/- 2.39
R0004985	27	0.74 +/- 0.01	4.69 +/- 0.81
R0003556	27	0.77 +/- 0.11	58.46 +/- 5.19
R0005595	27	0.69 +/- 0.07	3.36 +/- 0.84
R0006081	27	0.82 +/- 0.04	5.59 +/- 1.14
R0003562	27	0.67 +/- 0.04	20.67 +/- 0.90
R0002469	54	0.35 +/- 0.09	2.09 +/- 0.22
R0002530	54	0.46 +/- 0.07	1.41 +/- 0.23
R0003000	54	0.66 +/- 0.04	2.81 +/- 0.49
R0002415	54	0.56 +/- 0.05	1.91 +/- 0.30
R0004413	27	0.51 +/- 0.06	1.38 +/- 0.51
R0005589	27	0.57 +/- 0.07	4.43 +/- 0.16
R0003166	54	0.77 +/- 0.03	5.17 +/- 0.65
R0006088	27	0.82 +/- 0.00	5.57 +/- 0.21
R0003152	54	0.62 +/- 0.08	3.37 +/- 0.47
R0003938	54	0.50 +/- 0.07	1.57 +/- 0.20
R0005847	27	0.88 +/- 0.07	8.84 +/- 1.05
R0006227	27	0.82 +/- 0.07	4.75 +/- 0.76
R0003161	54	0.67 +/- 0.04	3.27 +/- 0.62
R0006148	27	0.85 +/- 0.09	7.15 +/- 0.23
R0002029	18	0.85 +/- 0.12	26.93 +/- 4.46
R0003750	54	0.59 +/- 0.04	2.28 +/- 0.22
R0005578	27	0.80 +/- 0.17	8.91 +/- 2.94
R0003049	54	0.71 +/- 0.03	3.58 +/- 0.29
R0005812	27	0.72 +/- 0.03	3.88 +/- 0.81
R0003559	27	0.66 +/- 0.03	13.38 +/- 0.96
R0003730	54	0.65 +/- 0.04	8.00 +/- 1.08
R0005333	27	0.84 +/- 0.13	17.25 +/- 2.27
R0005587	27	0.47 +/- 0.07	3.09 +/- 1.00
R0003599	54	0.53 +/- 0.05	2.29 +/- 0.35
R0003713	54	0.58 +/- 0.06	3.23 +/- 0.16
R0006401	13	0.77 +/- 0.19	79.99 +/- 23.48
R0005265	27	0.72 +/- 0.04	3.15 +/- 0.09
R0006086	27	0.66 +/- 0.04	47.06 +/- 6.12
R0005011	27	0.76 +/- 0.04	4.64 +/- 0.11
R0002544	54	0.54 +/- 0.08	2.37 +/- 0.93
R0006461	27	0.64 +/- 0.05	9.26 +/- 0.33
R0002839	54	0.74 +/- 0.07	7.26 +/- 2.07
R0002187	54	0.52 +/- 0.06	1.45 +/- 0.15
R0003560	27	0.75 +/- 0.05	4.40 +/- 0.61
R0003059	54	0.65 +/- 0.05	4.78 +/- 0.38
R0002543	54	0.64 +/- 0.09	4.32 +/- 0.98
R0006061	27	0.83 +/- 0.11	5.53 +/- 0.40
R0005770	27	0.80 +/- 0.07	4.83 +/- 0.60
R0003674	27	0.81 +/- 0.09	4.51 +/- 0.82
R0002034	27	0.65 +/- 0.01	24.19 +/- 2.79
R0006186	27	0.67 +/- 0.05	3.62 +/- 0.62
R0005950	27	0.87 +/- 0.19	21.18 +/- 5.20
R0004790	54	0.60 +/- 0.05	12.14 +/- 1.45
R0003830	54	0.59 +/- 0.04	3.01 +/- 0.23
R0006400	18	0.84 +/- 0.06	6.58 +/- 0.49
R0003111	54	0.84 +/- 0.01	5.99 +/- 0.68
R0004798	54	0.73 +/- 0.22	23.20 +/- 7.96
R0002561	52	0.76 +/- 0.10	64.24 +/- 10.23
R0005387	27	0.65 +/- 0.08	2.43 +/- 0.42


R0002102	27	1.00 +/- 0.00	791.87 +/- 6.16
R0002101	27	1.00 +/- 0.00	791.87 +/- 6.16


R0002156	54	1.00 +/- 0.00	200.92 +/- 0.23
R0002157	54	1.00 +/- 0.00	200.92 +/- 0.23


R0002196	54	1.00 +/- 0.00	313.90 +/- 2.55
R0002195	54	1.00 +/- 0.00	313.90 +/- 2.55


R0002198	54	1.00 +/- 0.00	5118.30 +/- 12.08
R0002199	54	1.00 +/- 0.00	5118.30 +/- 12.08


R0002428	45	1.00 +/- 0.00	625.08 +/- 1.11
R0002429	45	1.00 +/- 0.00	625.08 +/- 1.11


R0002504	54	1.00 +/- 0.00	366.58 +/- 1.17
R0002503	54	1.00 +/- 0.00	366.58 +/- 1.17


R0002736	27	1.00 +/- 0.00	173.83 +/- 0.44
R0002737	27	1.00 +/- 0.00	173.83 +/- 0.44


R0002741	27	1.00 +/- 0.00	1006.15 +/- 3.52
R0002740	27	1.00 +/- 0.00	1006.15 +/- 3.52


R0002765	27	1.00 +/- 0.00	60.53 +/- 0.20
R0002766	27	1.00 +/- 0.00	60.53 +/- 0.20


R0002769	27	1.00 +/- 0.00	106.95 +/- 0.31
R0002767	27	1.00 +/- 0.00	106.95 +/- 0.31


R0002783	27	1.00 +/- 0.00	458.83 +/- 1.54
R0002784	27	1.00 +/- 0.00	458.83 +/- 1.54


R0002787	27	1.00 +/- 0.00	179.69 +/- 1.23
R0002789	27	1.00 +/- 0.00	179.69 +/- 1.23


R0002816	54	1.00 +/- 0.00	257.75 +/- 1.49
R0002815	54	1.00 +/- 0.00	257.75 +/- 1.49


R0002831	54	1.00 +/- 0.00	1520.90 +/- 2.44
R0002830	54	1.00 +/- 0.00	1520.90 +/- 2.44


R0002859	54	1.00 +/- 0.00	304.85 +/- 0.79
R0002858	54	1.00 +/- 0.00	304.85 +/- 0.79


R0002890	27	1.00 +/- 0.00	55.54 +/- 0.14
R0002887	27	1.00 +/- 0.00	55.54 +/- 0.14


R0002894	27	1.00 +/- 0.00	487.18 +/- 2.73
R0002896	27	1.00 +/- 0.00	487.18 +/- 2.73


R0002916	27	1.00 +/- 0.00	64.85 +/- 0.25
R0002917	27	1.00 +/- 0.00	64.85 +/- 0.25


R0002924	27	1.00 +/- 0.00	289.38 +/- 1.52
R0002925	27	1.00 +/- 0.00	289.38 +/- 1.52


R0002926	27	1.00 +/- 0.00	125.77 +/- 1.37
R0002927	27	1.00 +/- 0.00	125.77 +/- 1.37


R0002953	54	1.00 +/- 0.00	531.99 +/- 0.66
R0002952	54	1.00 +/- 0.00	531.99 +/- 0.66


R0002976	54	1.00 +/- 0.00	645.61 +/- 0.82
R0002979	54	1.00 +/- 0.00	645.61 +/- 0.82


R0002977	54	1.00 +/- 0.00	48.96 +/- 0.12
R0002978	54	1.00 +/- 0.00	48.96 +/- 0.12


R0002981	54	1.00 +/- 0.00	5030.44 +/- 4.16
R0002980	54	1.00 +/- 0.00	5030.44 +/- 4.16


R0003003	34	1.00 +/- 0.00	4237.33 +/- 8.85
R0003005	34	1.00 +/- 0.00	4237.33 +/- 8.85


R0003021	54	1.00 +/- 0.00	506.13 +/- 1.02
R0003019	54	1.00 +/- 0.00	506.13 +/- 1.02


R0003043	54	1.00 +/- 0.00	709.61 +/- 1.60
R0003042	54	1.00 +/- 0.00	709.61 +/- 1.60


R0003099	54	1.00 +/- 0.00	83.20 +/- 0.76
R0003098	54	1.00 +/- 0.00	83.20 +/- 0.76


R0003100	54	1.00 +/- 0.00	311.00 +/- 1.39
R0003102	54	1.00 +/- 0.00	311.00 +/- 1.39


R0003107	54	1.00 +/- 0.00	98.02 +/- 0.16
R0003108	54	1.00 +/- 0.00	98.02 +/- 0.16


R0003124	54	1.00 +/- 0.00	875.11 +/- 2.02
R0003122	54	1.00 +/- 0.00	875.11 +/- 2.02


R0003170	54	1.00 +/- 0.00	57.92 +/- 0.46
R0003171	54	1.00 +/- 0.00	57.92 +/- 0.46


R0003245	45	1.00 +/- 0.00	117.29 +/- 0.35
R0003244	45	1.00 +/- 0.00	117.29 +/- 0.35


R0003472	27	0.99 +/- 0.00	36.69 +/- 0.21
R0003471	27	0.99 +/- 0.00	36.69 +/- 0.21


R0003474	27	0.99 +/- 0.00	42.69 +/- 0.22
R0003473	27	0.99 +/- 0.00	42.69 +/- 0.22


R0003487	27	0.99 +/- 0.00	37.42 +/- 0.17
R0003488	27	0.99 +/- 0.00	37.42 +/- 0.17


R0003492	27	1.00 +/- 0.00	163.84 +/- 0.48
R0003489	27	1.00 +/- 0.00	163.84 +/- 0.48


R0003537	27	1.00 +/- 0.00	166.62 +/- 0.64
R0003538	27	1.00 +/- 0.00	166.62 +/- 0.64


R0003610	27	0.99 +/- 0.00	39.23 +/- 0.19
R0003611	27	0.99 +/- 0.00	39.23 +/- 0.19


R0003624	27	1.00 +/- 0.00	397.89 +/- 1.59
R0003625	27	1.00 +/- 0.00	397.89 +/- 1.59


R0003629	27	1.00 +/- 0.00	1147.29 +/- 3.27
R0003630	27	1.00 +/- 0.00	1147.29 +/- 3.27


R0003646	27	1.00 +/- 0.00	141.51 +/- 0.51
R0003644	27	1.00 +/- 0.00	141.51 +/- 0.51


R0003650	27	1.00 +/- 0.00	79.48 +/- 0.17
R0003649	27	1.00 +/- 0.00	79.48 +/- 0.17


R0003797	54	1.00 +/- 0.00	5964.85 +/- 7.38
R0003796	54	1.00 +/- 0.00	5964.85 +/- 7.38


R0003805	54	1.00 +/- 0.00	270.34 +/- 1.07
R0003806	54	1.00 +/- 0.00	270.34 +/- 1.07


R0003857	45	1.00 +/- 0.00	62.04 +/- 0.56
R0003858	45	1.00 +/- 0.00	62.04 +/- 0.56


R0003917	54	1.00 +/- 0.00	573.61 +/- 1.38
R0003916	54	1.00 +/- 0.00	573.61 +/- 1.38


R0003946	54	1.00 +/- 0.00	299.38 +/- 1.00
R0003947	54	1.00 +/- 0.00	299.38 +/- 1.00


R0003951	54	1.00 +/- 0.00	835.26 +/- 0.53
R0003950	54	1.00 +/- 0.00	835.26 +/- 0.53


R0003958	54	1.00 +/- 0.00	1485.06 +/- 1.84
R0003959	54	1.00 +/- 0.00	1485.06 +/- 1.84


R0003969	54	1.00 +/- 0.00	1981.84 +/- 7.93
R0003968	54	1.00 +/- 0.00	1981.84 +/- 7.93


R0004020	45	1.00 +/- 0.00	609.72 +/- 2.22
R0004021	45	1.00 +/- 0.00	609.72 +/- 2.22


R0004321	27	1.00 +/- 0.00	59.42 +/- 0.38
R0004320	27	1.00 +/- 0.00	59.42 +/- 0.38


R0004332	27	1.00 +/- 0.00	232.32 +/- 1.02
R0004331	27	1.00 +/- 0.00	232.32 +/- 1.02


R0004386	27	1.00 +/- 0.00	367.69 +/- 1.17
R0004385	27	1.00 +/- 0.00	367.69 +/- 1.17


R0004401	27	1.00 +/- 0.00	85.54 +/- 0.44
R0004402	27	1.00 +/- 0.00	85.54 +/- 0.44


R0004419	36	1.00 +/- 0.00	207.74 +/- 0.87
R0004418	36	1.00 +/- 0.00	207.74 +/- 0.87


R0004421	27	1.00 +/- 0.00	284.64 +/- 1.27
R0004420	27	1.00 +/- 0.00	284.64 +/- 1.27


R0004429	27	1.00 +/- 0.00	588.70 +/- 1.09
R0004431	27	1.00 +/- 0.00	588.70 +/- 1.09


R0004433	54	1.00 +/- 0.00	921.38 +/- 2.44
R0004434	54	1.00 +/- 0.00	921.38 +/- 2.44


R0004438	54	1.00 +/- 0.00	180.69 +/- 0.24
R0004436	54	1.00 +/- 0.00	180.69 +/- 0.24


R0004457	27	1.00 +/- 0.00	341.15 +/- 1.57
R0004458	27	1.00 +/- 0.00	341.15 +/- 1.57


R0004461	27	1.00 +/- 0.00	356.22 +/- 1.98
R0004464	27	1.00 +/- 0.00	356.22 +/- 1.98


R0004463	48	1.00 +/- 0.00	1787.52 +/- 7.71
R0004465	48	1.00 +/- 0.00	1787.52 +/- 7.71


R0004512	54	1.00 +/- 0.00	837.40 +/- 1.91
R0004511	54	1.00 +/- 0.00	837.40 +/- 1.91


R0004522	36	1.00 +/- 0.00	154.91 +/- 0.46
R0004521	36	1.00 +/- 0.00	154.91 +/- 0.46


R0004548	40	0.99 +/- 0.09	265.36 +/- 20.62
R0004546	40	0.99 +/- 0.09	265.36 +/- 20.62


R0004556	54	0.99 +/- 0.00	30.45 +/- 0.05
R0004555	54	0.99 +/- 0.00	30.45 +/- 0.05


R0004568	27	1.00 +/- 0.00	203.32 +/- 1.83
R0004567	27	1.00 +/- 0.00	203.32 +/- 1.83


R0004591	54	1.00 +/- 0.00	8404.40 +/- 27.63
R0004592	54	1.00 +/- 0.00	8404.40 +/- 27.63


R0004653	27	1.00 +/- 0.00	154.11 +/- 0.46
R0004655	27	1.00 +/- 0.00	154.11 +/- 0.46


R0004680	27	1.00 +/- 0.00	45.54 +/- 0.34
R0004679	27	1.00 +/- 0.00	45.54 +/- 0.34


R0004695	27	1.00 +/- 0.00	612.24 +/- 2.54
R0004693	27	1.00 +/- 0.00	612.24 +/- 2.54


R0004703	52	1.00 +/- 0.00	5111.70 +/- 9.06
R0004702	52	1.00 +/- 0.00	5111.70 +/- 9.06


R0004741	27	1.00 +/- 0.00	451.91 +/- 1.77
R0004742	27	1.00 +/- 0.00	451.91 +/- 1.77


R0004745	27	0.99 +/- 0.00	58.57 +/- 0.29
R0004746	27	0.99 +/- 0.00	58.57 +/- 0.29


R0004756	27	1.00 +/- 0.00	297.01 +/- 2.82
R0004755	27	1.00 +/- 0.00	297.01 +/- 2.82


R0004758	27	0.99 +/- 0.00	36.01 +/- 0.20
R0004757	27	0.99 +/- 0.00	36.01 +/- 0.20


R0004767	27	1.00 +/- 0.00	364.18 +/- 2.33
R0004766	27	1.00 +/- 0.00	364.18 +/- 2.33


R0004941	27	0.99 +/- 0.00	36.18 +/- 0.58
R0004942	27	0.99 +/- 0.00	36.18 +/- 0.58


R0004967	27	1.00 +/- 0.00	801.97 +/- 2.67
R0004965	27	1.00 +/- 0.00	801.97 +/- 2.67


R0004970	27	1.00 +/- 0.00	135.97 +/- 0.37
R0004971	27	1.00 +/- 0.00	135.97 +/- 0.37


R0004978	27	1.00 +/- 0.00	2607.16 +/- 9.96
R0004979	27	1.00 +/- 0.00	2607.16 +/- 9.96


R0005008	27	1.00 +/- 0.00	5491.82 +/- 14.55
R0005009	27	1.00 +/- 0.00	5491.82 +/- 14.55


R0005040	27	1.00 +/- 0.00	1011.80 +/- 6.26
R0005038	27	1.00 +/- 0.00	1011.80 +/- 6.26


R0005049	27	1.00 +/- 0.00	1238.02 +/- 2.27
R0005050	27	1.00 +/- 0.00	1238.02 +/- 2.27


R0005055	27	1.00 +/- 0.00	45.08 +/- 0.12
R0005054	27	1.00 +/- 0.00	45.08 +/- 0.12


R0005062	27	1.00 +/- 0.00	371.09 +/- 0.16
R0005060	27	1.00 +/- 0.00	371.09 +/- 0.16


R0005077	27	1.00 +/- 0.00	1600.17 +/- 1.89
R0005076	27	1.00 +/- 0.00	1600.17 +/- 1.89


R0005081	27	1.00 +/- 0.00	487.04 +/- 0.56
R0005082	27	1.00 +/- 0.00	487.04 +/- 0.56


R0005087	27	1.00 +/- 0.00	5162.74 +/- 7.03
R0005085	27	1.00 +/- 0.00	5162.74 +/- 7.03


R0005137	27	1.00 +/- 0.00	2705.76 +/- 11.41
R0005136	27	1.00 +/- 0.00	2705.76 +/- 11.41


R0005142	27	1.00 +/- 0.00	120.10 +/- 0.82
R0005141	27	1.00 +/- 0.00	120.10 +/- 0.82


R0005150	27	1.00 +/- 0.00	427.95 +/- 2.84
R0005151	27	1.00 +/- 0.00	427.95 +/- 2.84


R0005156	27	1.00 +/- 0.00	129.32 +/- 0.97
R0005155	27	1.00 +/- 0.00	129.32 +/- 0.97


R0005165	27	1.00 +/- 0.00	186.07 +/- 0.69
R0005164	27	1.00 +/- 0.00	186.07 +/- 0.69


R0005189	27	1.00 +/- 0.00	2499.17 +/- 5.55
R0005190	27	1.00 +/- 0.00	2499.17 +/- 5.55


R0005195	27	1.00 +/- 0.00	26382.56 +/- 147.83
R0005193	27	1.00 +/- 0.00	26382.56 +/- 147.83


R0005218	27	1.00 +/- 0.00	1430.87 +/- 8.64
R0005219	27	1.00 +/- 0.00	1430.87 +/- 8.64


R0005224	27	1.00 +/- 0.00	153.02 +/- 0.77
R0005223	27	1.00 +/- 0.00	153.02 +/- 0.77


R0005228	27	1.00 +/- 0.00	1518.87 +/- 11.26
R0005229	27	1.00 +/- 0.00	1518.87 +/- 11.26


R0005243	27	1.00 +/- 0.00	581.74 +/- 4.18
R0005246	27	1.00 +/- 0.00	581.74 +/- 4.18


R0005244	27	1.00 +/- 0.00	383.18 +/- 3.35
R0005245	27	1.00 +/- 0.00	383.18 +/- 3.35


R0005250	27	1.00 +/- 0.00	343.53 +/- 0.61
R0005248	27	1.00 +/- 0.00	343.53 +/- 0.61


R0005251	23	0.98 +/- 0.12	436.67 +/- 34.44
R0005252	23	0.98 +/- 0.12	436.67 +/- 34.44


R0005254	27	1.00 +/- 0.00	977.21 +/- 14.31
R0005255	27	1.00 +/- 0.00	977.21 +/- 14.31


R0005291	27	1.00 +/- 0.00	165.52 +/- 0.19
R0005292	27	1.00 +/- 0.00	165.52 +/- 0.19


R0005308	27	1.00 +/- 0.00	11674.53 +/- 47.40
R0005309	27	1.00 +/- 0.00	11674.53 +/- 47.40


R0005317	27	1.00 +/- 0.00	1141.05 +/- 0.41
R0005318	27	1.00 +/- 0.00	1141.05 +/- 0.41


R0005322	27	1.00 +/- 0.00	427.67 +/- 0.64
R0005321	27	1.00 +/- 0.00	427.67 +/- 0.64


R0005324	27	1.00 +/- 0.00	1904.72 +/- 2.45
R0005323	27	1.00 +/- 0.00	1904.72 +/- 2.45


R0005325	27	1.00 +/- 0.00	440.09 +/- 0.86
R0005327	27	1.00 +/- 0.00	440.09 +/- 0.86


R0005390	27	1.00 +/- 0.00	292.21 +/- 0.40
R0005391	27	1.00 +/- 0.00	292.21 +/- 0.40


R0005394	27	1.00 +/- 0.00	575.34 +/- 1.96
R0005392	27	1.00 +/- 0.00	575.34 +/- 1.96


R0005396	27	1.00 +/- 0.00	2057.66 +/- 5.98
R0005397	27	1.00 +/- 0.00	2057.66 +/- 5.98


R0005414	27	1.00 +/- 0.00	44.13 +/- 0.27
R0005415	27	1.00 +/- 0.00	44.13 +/- 0.27


R0005417	24	1.00 +/- 0.00	90.44 +/- 1.25
R0005418	24	1.00 +/- 0.00	90.44 +/- 1.25


R0005436	27	1.00 +/- 0.00	1592.78 +/- 7.21
R0005435	27	1.00 +/- 0.00	1592.78 +/- 7.21


R0005442	27	1.00 +/- 0.00	833.38 +/- 2.16
R0005443	27	1.00 +/- 0.00	833.38 +/- 2.16


R0005465	27	1.00 +/- 0.00	654.06 +/- 0.57
R0005464	27	1.00 +/- 0.00	654.06 +/- 0.57


R0005499	27	1.00 +/- 0.00	95.73 +/- 0.55
R0005498	27	1.00 +/- 0.00	95.73 +/- 0.55


R0005507	27	1.00 +/- 0.00	83.94 +/- 0.22
R0005509	27	1.00 +/- 0.00	83.94 +/- 0.22


R0005512	27	1.00 +/- 0.00	51.79 +/- 0.23
R0005513	27	1.00 +/- 0.00	51.79 +/- 0.23


R0005520	27	1.00 +/- 0.00	181.31 +/- 0.79
R0005521	27	1.00 +/- 0.00	181.31 +/- 0.79


R0005524	27	1.00 +/- 0.00	1582.59 +/- 4.44
R0005523	27	1.00 +/- 0.00	1582.59 +/- 4.44


R0005545	27	1.00 +/- 0.00	107.00 +/- 0.53
R0005544	27	1.00 +/- 0.00	107.00 +/- 0.53


R0005552	27	1.00 +/- 0.00	264.29 +/- 1.95
R0005551	27	1.00 +/- 0.00	264.29 +/- 1.95


R0005561	27	1.00 +/- 0.00	718.47 +/- 2.07
R0005562	27	1.00 +/- 0.00	718.47 +/- 2.07


R0005566	27	1.00 +/- 0.00	128.92 +/- 0.63
R0005565	27	1.00 +/- 0.00	128.92 +/- 0.63


R0005604	27	1.00 +/- 0.00	626.09 +/- 3.76
R0005605	27	1.00 +/- 0.00	626.09 +/- 3.76


R0005623	23	1.00 +/- 0.00	3451.01 +/- 21.38
R0005624	23	1.00 +/- 0.00	3451.01 +/- 21.38


R0005698	27	0.99 +/- 0.00	44.47 +/- 0.07
R0005699	27	0.99 +/- 0.00	44.47 +/- 0.07


R0005700	27	1.00 +/- 0.00	296.85 +/- 0.41
R0005701	27	1.00 +/- 0.00	296.85 +/- 0.41


R0005742	27	0.99 +/- 0.01	91.10 +/- 0.66
R0005741	27	0.99 +/- 0.01	91.10 +/- 0.66


R0005749	18	1.00 +/- 0.00	100.80 +/- 0.59
R0005750	18	1.00 +/- 0.00	100.80 +/- 0.59


R0005751	18	0.99 +/- 0.00	29.10 +/- 0.23
R0005752	18	0.99 +/- 0.00	29.10 +/- 0.23


R0005815	27	1.00 +/- 0.00	525.93 +/- 1.13
R0005814	27	1.00 +/- 0.00	525.93 +/- 1.13


R0005823	27	1.00 +/- 0.00	295.81 +/- 0.21
R0005824	27	1.00 +/- 0.00	295.81 +/- 0.21


R0005827	27	1.00 +/- 0.00	505.60 +/- 2.07
R0005826	27	1.00 +/- 0.00	505.60 +/- 2.07


R0005852	27	1.00 +/- 0.00	130.69 +/- 0.50
R0005851	27	1.00 +/- 0.00	130.69 +/- 0.50


R0005875	27	1.00 +/- 0.00	14847.16 +/- 48.17
R0005874	27	1.00 +/- 0.00	14847.16 +/- 48.17


R0005922	27	0.99 +/- 0.00	39.03 +/- 0.31
R0005923	27	0.99 +/- 0.00	39.03 +/- 0.31


R0005927	27	1.00 +/- 0.00	647.61 +/- 2.24
R0005931	27	1.00 +/- 0.00	647.61 +/- 2.24


R0005958	27	1.00 +/- 0.00	4231.52 +/- 16.38
R0005959	27	1.00 +/- 0.00	4231.52 +/- 16.38


R0005962	27	1.00 +/- 0.00	22977.02 +/- 221.51
R0005963	27	1.00 +/- 0.00	22977.02 +/- 221.51


R0005973	27	1.00 +/- 0.00	323.97 +/- 1.79
R0005974	27	1.00 +/- 0.00	323.97 +/- 1.79


R0005978	27	1.00 +/- 0.00	80.70 +/- 1.28
R0005977	27	1.00 +/- 0.00	80.70 +/- 1.28


R0006024	27	1.00 +/- 0.00	244.16 +/- 1.30
R0006023	27	1.00 +/- 0.00	244.16 +/- 1.30


R0006026	27	1.00 +/- 0.00	510.72 +/- 1.38
R0006025	27	1.00 +/- 0.00	510.72 +/- 1.38


R0006070	21	0.98 +/- 0.12	31.81 +/- 2.23
R0006071	21	0.98 +/- 0.12	31.81 +/- 2.23


R0006073	27	1.00 +/- 0.00	378.87 +/- 1.22
R0006074	27	1.00 +/- 0.00	378.87 +/- 1.22



In [53]:
point_sources_df.query("master_exp_id == 'G001'").query("NMAST == 'R0006533' or NMAST == 'R0006535'").T;

In [26]:
dist_mat.loc['R0006533', 'R0006535']

0.0

Wait, these are actual duplicates of each other

# Removing identical entries
These entries are identical except for the actual star identifiers

In [27]:
cols = list(point_sources_df.columns)
for i in ['NMAST', 'ps_tile_id', 'tile_id', 'master_exp_id', 'filt_id', 'unk', 'chip_id']:
    cols.pop(cols.index(i))

point_sources_df.drop_duplicates(subset=cols, keep='first')

,umast,vmast,magu,utile,vtile,z0,sz0,f0,g0,u1,...,o3,f3,g3,NMAST,ps_tile_id,tile_id,master_exp_id,filt_id,unk,chip_id
0,736.424,91.482,-2.0238,0.0,0.0,6.5,0.8,0,1,31.849,...,0.0,1,1,R0000001,L005,N001,G004,F1,C,1
1,736.459,91.452,-1.4531,0.0,0.0,3.7,0.8,0,1,31.918,...,0.0,1,1,R0000001,L005,N002,G006,F1,C,1
2,736.323,91.491,-2.5450,0.0,0.0,10.4,0.8,0,1,31.646,...,0.0,1,1,R0000001,L005,N003,G007,F1,C,1
3,736.306,91.445,-2.2584,0.0,0.0,8.3,0.8,0,1,31.611,...,0.0,1,1,R0000001,L005,N004,G009,F1,C,1
4,736.398,91.671,-2.5036,0.0,0.0,9.6,0.8,0,1,31.797,...,0.0,1,1,R0000001,L005,N005,G010,F1,C,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204678,1123.238,1594.778,-0.9718,0.0,0.0,-0.4,0.6,0,1,85.476,...,0.0,1,1,R0006552,L013,N021,G043,F2,C,1
204679,1123.163,1594.772,-1.9953,0.0,0.0,5.3,0.6,0,1,85.327,...,0.0,1,1,R0006552,L013,N022,G047,F2,C,1
204680,1123.230,1594.817,-1.4931,0.0,0.0,8.4,0.6,0,1,85.460,...,0.0,1,1,R0006552,L013,N023,G048,F2,C,1
204681,1123.607,1594.519,-2.4661,0.0,0.0,8.8,0.7,0,1,86.214,...,0.0,1,1,R0006552,L013,N024,G049,F2,C,1
204682,1123.109,1595.099,-0.0000,0.0,0.0,-0.5,0.6,0,1,85.218,...,0.0,1,1,R0006552,L013,N026,G053,F2,C,1

In [28]:
point_sources_df.drop_duplicates(subset=cols, keep=False)

,umast,vmast,magu,utile,vtile,z0,sz0,f0,g0,u1,...,o3,f3,g3,NMAST,ps_tile_id,tile_id,master_exp_id,filt_id,unk,chip_id
0,736.424,91.482,-2.0238,0.0,0.0,6.5,0.8,0,1,31.849,...,0.0,1,1,R0000001,L005,N001,G004,F1,C,1
1,736.459,91.452,-1.4531,0.0,0.0,3.7,0.8,0,1,31.918,...,0.0,1,1,R0000001,L005,N002,G006,F1,C,1
2,736.323,91.491,-2.5450,0.0,0.0,10.4,0.8,0,1,31.646,...,0.0,1,1,R0000001,L005,N003,G007,F1,C,1
3,736.306,91.445,-2.2584,0.0,0.0,8.3,0.8,0,1,31.611,...,0.0,1,1,R0000001,L005,N004,G009,F1,C,1
4,736.398,91.671,-2.5036,0.0,0.0,9.6,0.8,0,1,31.797,...,0.0,1,1,R0000001,L005,N005,G010,F1,C,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204678,1123.238,1594.778,-0.9718,0.0,0.0,-0.4,0.6,0,1,85.476,...,0.0,1,1,R0006552,L013,N021,G043,F2,C,1
204679,1123.163,1594.772,-1.9953,0.0,0.0,5.3,0.6,0,1,85.327,...,0.0,1,1,R0006552,L013,N022,G047,F2,C,1
204680,1123.230,1594.817,-1.4931,0.0,0.0,8.4,0.6,0,1,85.460,...,0.0,1,1,R0006552,L013,N023,G048,F2,C,1
204681,1123.607,1594.519,-2.4661,0.0,0.0,8.8,0.7,0,1,86.214,...,0.0,1,1,R0006552,L013,N024,G049,F2,C,1
204682,1123.109,1595.099,-0.0000,0.0,0.0,-0.5,0.6,0,1,85.218,...,0.0,1,1,R0006552,L013,N026,G053,F2,C,1

In [29]:
point_sources_df[point_sources_df.duplicated(subset=cols, keep=False)]['NMAST'].unique().size

716

In [30]:
cols = list(master_catalog_df.columns)
cols.pop(cols.index("NMAST"))
unique_ind = master_catalog_df.drop_duplicates(subset=cols).index

In [31]:
dup_ind = set.difference(set(master_catalog_df.index), set(unique_ind))

In [32]:
master_catalog_df.loc[dup_ind]

,umast0,vmast0,mmast1,NMAST,zmast1,szmast1,q1,o1,f1,g1,zmast2,szmast2,q2,o2,f2,g2
4100,1410.26,975.32,-8.4633,R0004101,2428.495,58.838,0.999,1.31,9,9,3125.836,34.168,0.999,1.76,18,18
5,749.93,124.75,-4.4803,R0000006,61.959,3.305,0.997,0.00,9,9,84.200,2.850,0.998,0.00,18,18
7,754.79,70.36,-8.5803,R0000008,2704.709,35.819,1.000,0.13,5,5,3227.365,47.837,1.000,0.19,9,9
4113,1435.88,914.27,-7.2660,R0004114,806.117,10.678,1.000,7.20,9,9,963.330,14.263,0.999,7.39,18,18
22,834.77,43.73,-8.3215,R0000023,2131.079,17.199,1.000,0.15,9,9,2200.292,131.793,1.000,0.12,18,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4031,1187.23,937.41,-6.6186,R0004032,444.038,5.796,0.999,0.00,9,9,458.005,12.369,0.999,0.01,18,18
4036,1195.24,975.72,-7.2780,R0004037,815.059,14.309,0.999,0.30,9,9,957.949,47.928,0.999,0.28,18,18
4039,1197.25,969.12,-7.6728,R0004040,1172.524,14.749,0.999,0.18,9,9,1427.434,16.134,0.999,0.28,18,15
4040,1197.74,860.15,-8.1497,R0004041,1819.263,14.158,1.000,0.16,9,9,1993.288,29.039,1.000,0.13,18,18
4089,1384.90,928.76,-6.7667,R0004090,508.965,4.462,1.000,1.87,9,9,806.432,14.477,0.999,2.49,18,18

In [33]:
6552-6194

358

In [34]:
cols = list(master_catalog_df.columns)
cols.pop(cols.index("NMAST"))
dups = master_catalog_df[master_catalog_df.duplicated(subset=cols, keep=False)]

In [35]:
gb = dups.groupby(cols)

In [36]:
len(gb.groups)

358

In [37]:
tmp = [list(gb.get_group(group)['NMAST'].values)
       for group, index in gb.groups.items()]
# pairs = {pair[0]: pair for pair in pairs}
# pairs = [[(pair[0], p) for p in pair] for pair in pairs]

In [38]:
pairs = []
# for pair in tmp:
#     for p in pair:
#         pairs[pair[0]] = p
for group, index in gb.groups.items():
    names = list(gb.get_group(group)['NMAST'].values)
    key = names[0]
    for n in names:
        pairs.append((n, key))

In [54]:
pairs;

In [40]:
# columns: 'name' contains the original name, 'main_id' is the one you'll be keeping
pairs_df = pd.DataFrame(pairs, columns=['name','main_id'])

In [41]:
pairs_df.head()

       name   main_id
0  R0002708  R0002708
1  R0002711  R0002708
2  R0001942  R0001942
3  R0001943  R0001942
4  R0002709  R0002709

In [42]:
point_sources_df.columns

Index(['umast', 'vmast', 'magu', 'utile', 'vtile', 'z0', 'sz0', 'f0', 'g0',
       'u1', 'v1', 'x1', 'y1', 'xraw1', 'yraw1', 'z1', 'sz1', 'q1', 'o1', 'f1',
       'g1', 'x0', 'y0', 'z2', 'sz2', 'q2', 'o2', 'f2', 'g2', 'z3', 'sz3',
       'q3', 'o3', 'f3', 'g3', 'NMAST', 'ps_tile_id', 'tile_id',
       'master_exp_id', 'filt_id', 'unk', 'chip_id'],
      dtype='object')

In [43]:
point_sources_df[['NMAST', 'ps_tile_id', 'tile_id', 'master_exp_id', 'filt_id', 'unk', 'chip_id']].head()

      NMAST ps_tile_id tile_id master_exp_id filt_id unk  chip_id
0  R0000001       L005    N001          G004      F1   C        1
1  R0000001       L005    N002          G006      F1   C        1
2  R0000001       L005    N003          G007      F1   C        1
3  R0000001       L005    N004          G009      F1   C        1
4  R0000001       L005    N005          G010      F1   C        1

In [44]:
master_catalog_df.head()

,umast0,vmast0,mmast1,NMAST,zmast1,szmast1,q1,o1,f1,g1,zmast2,szmast2,q2,o2,f2,g2
0,736.37,91.51,-2.3045,R0000001,8.352,2.586,0.900,0.01,9,9,14.088,1.538,0.963,0.01,9,9
1,737.04,34.36,-3.2771,R0000002,20.458,2.260,0.899,0.00,9,9,9.987,2.508,0.909,0.00,16,16
2,740.65,61.26,-5.9669,R0000003,243.655,3.332,0.999,0.01,9,9,177.850,2.386,0.999,0.02,9,9
3,745.91,93.19,-2.9646,R0000004,15.340,1.092,0.968,0.01,9,9,19.786,2.601,0.982,0.01,9,9
4,749.93,124.75,-4.4803,R0000005,61.959,3.305,0.997,0.00,9,9,84.200,2.850,0.998,0.00,18,18

get a list of the remaining point sources

In [146]:
ps_cols = list(point_sources_df.columns)
for i in ['NMAST', 'g0','g1','g2','g3', 'ps_tile_id', 'tile_id', 'master_exp_id', 'filt_id', 'unk', 'chip_id']:
    ps_cols.pop(ps_cols.index(i))

ps_cat_nodup = point_sources_df.drop_duplicates(subset=ps_cols, keep='first')
ps_cat_dups = point_sources_df[point_sources_df.duplicated(subset=ps_cols, keep=False)]

In [147]:
ps_cat_nodup['NMAST'].unique().size

6194

In [148]:
import time

In [149]:
import itertools

In [150]:
t0 = time.time()
ps_gb = point_sources_df.groupby(ps_cols)
# name_sets = []
# for k, v in ps_gb.groups.items():
#     if len(v) > 1:
#         names = point_sources_df.loc[v, 'NMAST'].values
#         name_pairs = [tuple(i) for i in list(itertools.product([names[0]], names))]
#         for n in name_pairs:
#             name_sets.append(n)
# # name_sets = set(name_sets)
# # uniqify
# name_sets = pd.DataFrame(data=sorted(list(set(name_sets))), columns=['primary_id','alias'])
# t1 = time.time()
# print(f"{(t1-t0):0.2f}")

In [151]:
keep_indices = [sorted(ind)[0] for ind in ps_gb.groups.values()]
np.shape(keep_indices)

(194629,)

# OK, I have it! 

Everything that works is wrapped up in ks2_utils.remove_duplicates(). Run it and write the new catalogs to file.

In [152]:
reload(ks2_utils)

In [153]:
point_sources_df = ks2_utils.get_point_source_catalog(raw=True)
master_catalog_df = ks2_utils.get_master_catalog(raw=True)
ps_cat, mast_cat = ks2_utils.remove_duplicates(point_sources_df, master_catalog_df)

/Users/jaguilar/miniconda3/envs/astro37/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (20,28,34) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [154]:
ps_dups = ps_cat[ps_cat.duplicated(subset=ps_cols, keep=False)]

In [155]:
ps_dups.empty

True

In [156]:
dups = mast_cat[mast_cat.duplicated(subset=mast_cols, keep=False)]['NMAST']

In [160]:
dups.empty

True

In [161]:
ks2_utils.ks2_files

[PosixPath('/user/jaguilar/tr14/data/ks2/LOGR.XYVIQ1'),
 PosixPath('/user/jaguilar/tr14/data/ks2/LOGR.FIND_NIMFO'),
 PosixPath('/user/jaguilar/tr14/data/ks2/INPUT.KS2')]

In [162]:
csv_args = {'index':False, "na_rep":None, "header":True}

In [163]:
ps_cat.to_csv(ks2_utils.ks2_files[1].as_posix() + '-nodup.csv', **csv_args)

In [164]:
mast_cat.to_csv(ks2_utils.ks2_files[0].as_posix() + '-nodup.csv', **csv_args)

In [165]:
pd.read_csv(ks2_utils.ks2_files[0].as_posix() + '-nodup.csv', sep=',').head()

,umast0,vmast0,mmast1,NMAST,zmast1,szmast1,q1,o1,f1,g1,zmast2,szmast2,q2,o2,f2,g2
0,736.37,91.51,-2.3045,R0000001,8.352,2.586,0.900,0.01,9,9,14.088,1.538,0.963,0.01,9,9
1,737.04,34.36,-3.2771,R0000002,20.458,2.260,0.899,0.00,9,9,9.987,2.508,0.909,0.00,16,16
2,740.65,61.26,-5.9669,R0000003,243.655,3.332,0.999,0.01,9,9,177.850,2.386,0.999,0.02,9,9
3,745.91,93.19,-2.9646,R0000004,15.340,1.092,0.968,0.01,9,9,19.786,2.601,0.982,0.01,9,9
4,749.93,124.75,-4.4803,R0000005,61.959,3.305,0.997,0.00,9,9,84.200,2.850,0.998,0.00,18,18

In [170]:
mast_cat[mast_cat.duplicated(subset=mast_cols, keep=False)].empty

True

In [169]:
ps_cat[ps_cat.duplicated(subset=cols, keep=False)].empty

True